<!DOCTYPE html>
<html>
  <head>
    <title>Dejvag's blog</title>
  </head>
  <body>
    <p>Hi there!</p>
    <p>It's alive!</p>
    <header>
      <h1><a href="/">Dejvag's blog</a></h1>
    </header>
    <article>
      <time>published: 29.12.2022</time>
      <h2><a href="">My first post</a></h2>
      <p>Blaaaaa...Bla Bla Bla Bla Blaaaaa......</p>
    </article>
    <article>
      <time>published: 29.12.2022</time>
      <h2><a href="">My second post</a></h2>
      <p>Brum brum brum....Brm Brum Brum....Brum brum brum brum brum.....</p>
      </article>
  </body>
</html>
